Extração de Dados

In [4]:
import numpy as np
import pandas as pd

In [7]:
ser= pd.Series(np.random.random(5), name="Column 01")

In [8]:
ser

0    0.451408
1    0.721252
2    0.777089
3    0.371642
4    0.398362
Name: Column 01, dtype: float64

In [9]:
ser[2]

0.7770889444035685

In [14]:
from pandas_datareader import data as wb

In [15]:
import yfinance as yf

In [17]:
yf.pdr_override()

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

In [19]:
PG= wb.get_data_yahoo("PG",start="1995-1-1")

[*********************100%%**********************]  1 of 1 completed

In [42]:
PG

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1995-01-03,15.468750,15.625000,15.437500,15.593750,7.529933,3318400
1995-01-04,15.531250,15.656250,15.312500,15.468750,7.469570,2218800
1995-01-05,15.375000,15.437500,15.218750,15.250000,7.363940,2319600
1995-01-06,15.156250,15.406250,15.156250,15.281250,7.379034,3438000
1995-01-09,15.343750,15.406250,15.187500,15.218750,7.348853,1795200
...,...,...,...,...,...,...
2024-07-08,165.949997,166.669998,165.619995,166.520004,166.520004,5144500
2024-07-09,166.630005,166.759995,165.139999,165.660004,165.660004,4393100
2024-07-10,165.899994,166.919998,165.539993,166.800003,166.800003,5037100
2024-07-11,166.300003,166.630005,164.779999,165.539993,165.539993,5831500
2024-07-12,166.220001,167.639999,166.020004,166.610001,166.610001,4682400

In [ ]:
PG.info()

In [ ]:
PG.head() # Confere as primeiras X linhas da DB

In [ ]:
PG.tail(20) # Confere as ultimas X linhas da DB

In [ ]:
tickers= ['PG', 'MSFT', 'T', 'F', 'GE']
new_data= pd.DataFrame()
for t in tickers:
    new_data[t] = wb.get_data_yahoo(t, start="1995-1-1")["Adj Close"]

In [ ]:
new_data.tail()

Importando e Organizando Dados pt II - IEX

In [37]:
iex= wb.get_data_yahoo("iex", start="2015-1-1")

[*********************100%%**********************]  1 of 1 completed

In [ ]:
iex

Criando Tabela de Cotações

In [43]:
tickers= ['PG', 'MSFT', 'T', 'F', 'GE']
new_data= pd.DataFrame()
for t in tickers:
    new_data[t]= wb.get_data_yahoo(t, start="2015-1-1")["Close"]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [44]:
new_data.tail()

                    PG        MSFT          T      F          GE
Date
2024-07-08  166.520004  466.239990  18.809999  12.98  163.529999
2024-07-09  165.660004  459.540009  18.799999  12.90  163.130005
2024-07-10  166.800003  466.250000  18.740000  13.17  165.699997
2024-07-11  165.539993  454.700012  18.860001  13.47  161.919998
2024-07-12  166.610001  453.549988  18.809999  14.03  159.009995